# Dependencies
**/node_modules

# Generated
.husky
**/.next
**.rollup.cache
**tsconfig.tsbuildinfo
**/build
**/dist

## Env
**/.env.local
**/.env.development
**/.env.production

# Misc
**/.DS_Store
.idea/
.vscode/
