# Dependencies
**/node_modules

# Generated
.turbo
**/.next
**.rollup.cache
**tsconfig.tsbuildinfo
**/build
**/dist
./out

## Env
**/.env.local
**/.env.development
**/.env.production
projects/api/**/.env*
staging.json

**/.env

# Misc
**/.DS_Store
.idea/
.vscode/
