.list {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;

  h5 {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    a {
      display: flex;
    }
  }

  p {
    a {
      text-decoration: underline;
    }
  }
}
