/* reset */
* {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  display: flex;
  flex: 1;
  height: 100%;
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--gray-12);
}

body {
  display: flex;
  flex: 1;
  background-color: var(--sage-1);
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 0.25rem;
}

input,
textarea {
  background-color: var(--gray-1);
  border: 1px solid var(--gray-8);
  padding: 0.35rem 0.75rem;
  border-radius: 0.25rem;
}
input:hover,
input:focus,
textarea:hover,
textarea:focus {
  border-color: var(--blue-10);
}
textarea {
  resize: vertical;
}
input::placeholder,
textarea::placeholder {
  color: var(--gray-8);
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  background-color: var(--blue-11);
  color: var(--blue-1);
  font-weight: var(--font-weight-bold);
  border: 1px solid var(--blue-11);
  border-radius: 0.25rem;
  padding: 0.35rem 0.75rem;
  transition: all 0.1s;
  cursor: pointer !important;
}
button:hover {
  background-color: var(--blue-10);
}
button:active {
  transform: scale(0.975);
}
button svg {
  width: 1.25rem;
  height: 1.25rem;
}
button.large {
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}
button.large svg {
  width: 1.5rem;
  height: 1.5rem;
}

a {
  cursor: pointer !important;
}

table {
  width: 100%;
}
table > thead > tr > th {
  font-weight: var(--font-weight-bold);
  color: var(--gray-11);
}
table > thead > tr > th,
table > tbody > tr > td {
  padding: 0.75rem 1.5rem 0.75rem 0;
  border-bottom: 1px solid var(--gray-4);
}
table > tbody > tr:last-child > td {
  border-bottom: none;
}
table > tbody > tr > td > a {
  text-decoration: underline;
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}
p {
  font-size: 1rem;
}
em {
  font-size: 0.8rem;
  color: var(--gray-9);
}
