.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-shrink: 0;
  overflow: hidden;

  form {
    padding: 1rem 1.5rem;
    border: 1px solid var(--gray-6);
    background-color: var(--gray-2);
    border-radius: 0.5rem;
    margin-bottom: 5rem;
    min-width: 20rem;

    h5 {
      margin-bottom: 1.5rem;
    }
  }
}
